.top{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    height: 48px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-bottom: 1px solid rgb(213, 215, 215);
    max-width: 1800px;
    margin: 0px auto;
    background-color: #f3f3f3;
}
@media(max-width: 800px){
.top{
    display: none;
    }
}
@media(height: 1024px){
    .top{
        display: flex;
    }
}
@media(max-width: 800px){
.topButtons{
    background-color:  #1c303f;
    }
}
.webText{
    font-size: 0.7rem;
    color: rgb(69, 71, 77);
    line-height: 1.5;
    justify-content: start;
    display: flex;
    font-family: core_sans_regular, Arial, Helvetica, sans-serif;
    height: 16px;
    width: 80px;
    margin-bottom: 0px;
}
.shareLogo{
    width: 0.7rem;
    height: 0.7rem;
    margin: 0px 5px;
    margin-top: 1px;
}
.clubBadges{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: auto;
    min-height: auto;
    -webkit-box-pack: start;
    justify-content: flex-start;
    text-align: left;
}
.clubIMG{
    width: 30px;
    height: 30px;
}
.logoKPL1{
    width: 30px;
    height: 30px; 
}
.logoKPL{
 
    justify-content: space-around;
    display: flex;
    align-items: center;
    background-color: #f3f3f3;
}
@media(max-width: 800px){
    .logoKPL{
        display: none;
        }
    }
    @media(height: 1024px){
        .logoKPL{
            display: flex;
        }
    }
@media(max-width: 800px){
.row1{
    border-bottom: 1px solid black; 
    background-color: #f3f3f3;   
}
}
@media(max-width: 800px){
.row2{
    border-bottom: 2px solid black;    
    }
}
.col1{
    padding-left: 8px;
    padding-right: 8px;
    background-color: #f3f3f3;
}
.btn1{
    flex: 1 1 33%;
    width: 220px;
    height: 36px;
    
}
@media(max-width: 800px){
.btn1{
    width: 190px;
}
}
.btn2{
    flex: 1 1 33%;
    width: 170px;
    height: 38px;
}
@media(height: 1024px){
    .btn2{
        width: 190px;
    }
}
.col{
    padding-top: 8px;
    padding-bottom: 8px;
}
.col2{
    grid-area: 3 / 1 / auto / auto;
    background-color: #1d262d;
    color: rgb(255, 255, 255);
}
@media(max-width: 800px){
.col2{
    background-color: #1c303f;
}
}
.center{
    background-color: #1c303f;
    width: 100%;
    height: 72.5%;
    justify-content: start;
    display: flex;
}
@media(max-width: 800px){
.center{
    flex-wrap: wrap;
}
}
.left{
    margin-left: 1.5%;
}
.youtubeFrame{
    width: 48vw;
    height: 30vw;
    margin-top: 43px;
}
@media(max-width: 800px){
.youtubeFrame{
        width: 88vw;
        height: 50vw;
        margin-left: 15px;
    }
}
@media(height: 1024px){
    .youtubeFrame{
        margin-left: 35px;
    }
}
.right{
    margin-top: 43px;
    margin-left: 2%;

}
@media(max-width: 800px){
.right{
    margin-top: 5px;
    margin-left: 15px;
}
}
.texts{
    margin-top: 10%;
}
.highlightsDate{
    font-family: core_sans_regular, Arial, Helvetica, sans-serif;
    color: white;
    font-size: 0.8rem;
    line-height: 1.5;
}
.header{
    font-size: 1.8rem;
    color: rgb(255, 255, 255);
    line-height: 1.32;
    font-weight: bold;
    font-family: core_sans_regular, Arial, Helvetica, sans-serif;
}
.description{
    font-family: core_sans_regular, Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    line-height: 1.6;
    width: 94%; 
}
.NextMatchesLine{
    border: 1px solid black; 
    background-color: black;
    margin-top: 0%;
    margin-bottom: 0%;
}
.divNextMatches{
    background-color: #1c303f;
    width: 100%;
    height: 150%;
    border-top: 5px solid black;
}
@media(max-width: 800px){
    .divNextMatches{
        height: 100%;
        
    }
}
.nextMatches{
    font-weight: bold;
    color: rgb(255, 255, 255);
    --text-header-font-size: 1.2rem;
    --text-header-font-weight: bold;
    --text-header-line-height: 1.33;
    margin-left: 110px;
    padding-top: 15px;
}
.NextMatchesBoxDiv{
    justify-content: space-between;
    display: flex;
    width: 80%;
    margin-left: 110px;
    margin-top: 35px;
}
@media(max-width:800px) {
    .NextMatchesBoxDiv{
    justify-content: center;
    margin-left: 135px;
    width: 30%;
    flex-wrap: wrap;
    }
}
@media(height: 1024px){
.NextMatchesBoxDiv{
    width: 78%;
    margin-left: 80px;
}
}
.box{
    background-color: #325a85;
    width: 296px;
    height: 146px;
    padding: 2px 10px; 
}
@media(max-width:800px) {
.box{
    align-items: center;
    margin-top: 15px;
}
}
.topLine{
    justify-content: space-between;
    display: flex;
    color: white;
}
.boxCenter{
    width: 276px;
    height: 84px;
    background-color: #1c303f;
    margin-top: 2px;
}
.VSteam{
    justify-content: space-around;
    display: flex;
    height: 25px;
    color: #325a85;
}
.VSclubBadges{
    justify-content: space-around;
    display: flex;
    color: #325a85;
}
.VSclubBadges img{
    width: 55px;
    height: 55px;
}
.tableKPL{
    background-color: #f3f3f3;
    height: 106%;
    margin-top: 105px; 
}
@media(max-width: 800px){
    .tableKPL{
        height: 90%;
    }
}
@media(height: 1024px){
    .tableKPL{
        height: 210%;
    }
}
@media(height: 1024px){
    .leftTable{
        margin-left: 165px;
    }
}
.centerTables{
    justify-content: space-evenly;
    display: flex;
}
@media(max-width: 800px){
    .centerTables{
        justify-content: start;
        display: block;
    }
}
.topTexts{
    color: #234181;
}

.leftTable{ 
    width: 30%;
    margin-top: 75px;
}
.tables{
    background-color: #ffffff;
}
.top3{
    background-color: #dbeff7;
}
.top3PTS{
    background-color: #dbeff7;
    color: #45abd6;
}
.clubtd{
    background-color: #f3f3f3;
}
.wins{
    background-color: #f3f3f3;
}
.loses{
    background-color: #f3f3f3;
}
.table1{
    width: 500px;
}
.rightTable{
    width: 30%;
    margin-top: 75px;
}
@media(max-width: 800px){
    .rightTable{
        margin-left: 21.5%;
    }
}
@media(height: 1024px){
    .rightTable{
        margin-left: 165px;
        width: 55%;
    }
}
.table2{
    width: 500px;
}
.clubIMG2{
    width: 25px;
    height: 25px;
}
.playerIMG{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.name{
    font-family: core_sans_regular, Arial, Helvetica, sans-serif;
}
.name1{
    color: #fff;
}
.topScorer{
    background-color: #53b9e1;
}
.topScorers{
    background-color: #ffffff;
}
.tdText{
    color: #53b9e1;
}
.tdText1{
    color: #fff;
}
.amplua{
    color: #568da3;
}
.amplua1{
    color: #055372;
}
.TVchannels{
    background-color: white;
    justify-content: space-evenly;
    display: flex;
    width: 73.4%;
    margin-left: 13.4%;
    margin-top: 2%;
}
@media(max-width: 800px){
    .TVchannels{
        display: none;
    }
}
.QAZSPORT img{
    width: 170px;
    height: 175px;
}
.QAZAQSTAN img{
    width: 170px;
    height: 35px;
    margin-top: 40%;
}
.PFLK{
    color: #c5cbcf;
    font-size: 14px;
    font-family: 'Open Sans', Arial;
    background-color: #1c303f;
    justify-content:flex-start;
    display: flex;
    align-items: center;
    padding-top: 20px;
}
.PFLK p{
    margin-left: 13.4%;
}
@media(max-width: 800px){
    .PFLK{
        margin-top: 360%;
    }
}
@media(height: 1024px){
    .PFLK{
        margin-top: 0%;
    }
}